body {
    background: url('/img/background.jpg') center/cover no-repeat;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        font-weight: 400;
    }
    nav ul{
        margin:0;
        display:inline;
        padding:0 0 0 30px;

    }

    nav ul li {
        list-style-type: none;
        display:inline-block;
        background:black;
        color: white;
        padding: 10px 10px;
        margin:10;

    }

    nav ul li a {
        color: white;
    }

.container{
    min-height: 100vh;
    min-width: 50vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    padding:2 rem;
    margin-top:0;
    border-radius: 5px;
    flex:10 0 80%;
}
.quoteBtn {
    border:black solid 2px;
    color:#333;
    float:clear;
    background-color: rgb(122, 125, 129);
    font-size: 1.3rem;
    padding:0.25 rem 0.5 rem;
    border-radius: 7px;
    position: absolute; 
    top:45%;
    left:50%;
    cursor: pointer;
    clear:both;
}
.quoteBtn:hover{
    color: rgb(54, 14, 21);
}
blockquote{
    background-color: rgb(233, 249, 250);
    border: 5px solid rgb(40, 134, 138);
    margin:1.5 rem;
    padding: 0.5 rem;
}
.quoteAuthor{
    size: 1.5 rem;
    background-color: rgb(233, 249, 250);
    border: 1px solid rgb(40, 134, 138);
    position:absolute;
    left:50%;
    margin:1.5 rem;
    padding: 0.5 rem;

}